<div ng-controller='HollyController as ctrl'>
    <p>{{ clock.now }}</p>

    <hr>

    <h2>Best Adder</h2>
    <button ng-click="add(1)" class="button">Add</button>
    <a ng-click="subtract(1)" class="button alert">Subtract</a>
    <h3>Counter: {{ counter }}</h3>
    <p>{{person}} has a name {{ person.name | lowercase | capitalize }}</p>

    <hr>

    <input ng-model='to' type='email' placeholder='Recipient' />
    <textarea ng-model='emailBody'></textarea>
    <pre>{{previewText}}</pre>

    <hr>

    <p>{{ 123.456789 | currency }}</p>

    <hr>

    <form name='signup_form' novalidate ng-submit='signupForm()'>
        <fieldset>
            <legend>Signup</legend>
            <div>
                <label>Name</label>
                <input type='text' placeholder='Name' name='name' ng-model='signup.name' ng-maxlength=50 required />
                <div class='error' ng-messages='signup_form.name.$error' ng-messages-multiple>
                    <div ng-messages-include='templates/error.html'></div>
                </div>
            </div>

            <div>
            <label>Your email</label>
            <input type='email' name='email' ng-model='signup.email' placeholder='Email addr' ng-minlength=3 ng-maxlength=50 required />
                <div class='error' ng-messages='signup_form.email.$error' ng-messages-multiple>
                    <div ng-messages-include='templates/error.html'></div>
                </div>
            <p>Email input is:</p>
            <ul>
                <li>Untouched: {{signup_form.email.$pristine}}</li>
                <li>Modified: {{signup_form.email.$dirty}}</li>
                <li>Valid: {{signup_form.email.$valid}}</li>
                <li>Invalid: {{signup_form.email.$invalid}}</li>
                <li>Errors: {{signup_form.email.$errors}}</li>
            </ul>
            </div>

            <div>
            <label>Username</label>
            <input type='text' placeholder='Desired Username' name='username' ng-model='signup.username' ng-minlength=3 ng-maxlength=20 ensure-unique='username' required />
                <div class='error' ng-messages='signup_form.username.$error' ng-messages-multiple>
                    <div ng-messages-include='templates/error.html'></div>
                </div>
            </div>

        </fieldset>
        <button type="submit" ng-disabled='signup_form.$invalid' class='button radius'>Submit</button>
    </form>
</div>

<div ng-controller="ParentController">
  <div ng-controller="ChildController">
    <a ng-click="sayHello()">Hello</a>
    {{person}}
  </div>
</div>
